version: "3.3"

services:
  ##################################
  ####        Traefik Proxy Setup           #####
  ###################################
  traefik:
    image: traefik:v2.2
    restart: always
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certs/:/etc/certs/ ## MOUNT THE DIRECTORY WITH YOUR CERTS AND KEYS IN IT
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./dynamic.yml:/dynamic.yml
      - ./acme.json:/acme.json
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.services.traefik.loadbalancer.server.port=8080

  nginx:
    image: nginx
    container_name: nginx
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.services.nginx.loadbalancer.server.port=80

networks:
  web:
    external: true
